// color
$soft-black: hsla(0, 0%, 12%);
$white: hsla(00, 0%, 100%);
$light-beige: hsla(47, 25%, 89%);
$cappucino: hsla(35, 40%, 75%);
$wood-ash: hsla(45, 2%, 55%);
$soft-coral:hsla(6, 73%, 68%);
$fireweed: hsla(4, 77%, 61%);

//font
$main-font-family: 'Open Sans', sans-serif;
$design-font-family: 'Playfair Display', serif;